@model List<Equipment>

<h2>All Availabile Listing</h2>

<table class="table table-striped">
    
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Description</th>
            <th>Availability</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var equipment in Model)
        {
            if (!(equipment.IsAvailable)) {
                continue;
            }
        
            <tr class="@(equipment.IsAvailable ? "table-success" : "table-danger")">
                <td>@equipment.Id</td>
                <td>@equipment.Type</td>
                <td>@equipment.Description</td>
                <td>@(equipment.IsAvailable ? "Available" : "Not Available")</td>
            </tr>
        }
    </tbody>

</table>